# Pandas for Data Analysis

## Creating a DataFrame

- A DataFrame is an object that stores data as rows and columns. You can think of a DataFrame as a spreadsheet or as a SQL table. 
- Each column has a name, which is a string. 
- Each row has an index, which is an integer. 
- You can pass in a dictionary to `pd.DataFrame()`. Each key is a column name and each value is a list of column values. 
- The columns must all be the same length or you will get an error.

In [1]:
import pandas as pd

df1 = pd.DataFrame({
  'Student ID': [1, 2, 3, 4, 5],
  'Student Name': ['Alex', 'Brayan', 'Stephanie', 'Néstor', 'Jorge'],
  'Color': ['blue', 'green', 'yellow', 'red', 'black']
})

print(df1)

   Student ID Student Name   Color
0           1         Alex    blue
1           2       Brayan   green
2           3    Stephanie  yellow
3           4       Néstor     red
4           5        Jorge   black

You can also add data using lists:

In [2]:
df2 = pd.DataFrame([
  [1, 'Alex', 'blue'],
  [2, 'Brayan', 'green'],
  [3, 'Stephanie', 'yellow'],
  [4, 'Néstor', 'red'],
  [5, 'Jorge', 'black'],
],
  columns=[
    'Student ID', 'Name', 'Color'
  ])

print(df2)

   Student ID       Name   Color
0           1       Alex    blue
1           2     Brayan   green
2           3  Stephanie  yellow
3           4     Néstor     red
4           5      Jorge   black

## Comma Separated Variables (CSV)

- Most of the time, we’ll be working with datasets that already exist. 
- One of the most common formats for big datasets is the CSV (comma separated values) 
- The first row of a CSV contains column headings. 
- All subsequent rows contain values. 
- Each column heading and each variable is separated by a comma:
- When you have data in a CSV, you can load it into a DataFrame in Pandas using `.read_csv()`

In [3]:
df = pd.read_csv('cupcakes.csv')
print(df)

             name cake_flavor frosting_flavor             topping
0  Chocolate Cake   chocolate       chocolate  chocolate shavings
1   Birthday Cake     vanilla         vanilla   rainbow sprinkles
2     Carrot Cake      carrot    cream cheese             almonds

- The method `.head()` gives the first 5 rows of a DataFrame. 
- If you want to see more rows, you can pass in the positional argument `n`. 
- The method `df.info()` gives some statistics for each column.

In [4]:
df = pd.read_csv('imdb.csv')
print(df.head(10))
print('\n')
print(df.info())

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
5   6                                  Star Wars  action  1977          8.7
6   7                    Avengers: Age of Ultron  action  2015          7.9
7   8                      The Dark Knight Rises  action  2012          8.5
8   9  Pirates of the Caribbean: Dead Mans Chest  action  2006          7.3
9  10                                 Iron Man 3  action  2013          7.3


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           220 non-null    int64
 1   name         220 non-null    object
 2   genre        220 non-null    object
 3   year         220 non-null    int64
 4   imdb_rating  220 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 8.7+ KB
None

## Select Columns

There are two possible syntaxes for selecting all values from a column:

1. Select the column as if you were selecting a value from a dictionary using a key. 
2. If the name of a column follows all of the rules for a variable name (doesn’t start with a number, doesn’t contain spaces or special characters, etc.), then you can select it using the dot notation

When we select a single column, the result is called a _Series_.

In [5]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

clinic_north = df['clinic_north']
print(f'Type of a column: {type(clinic_north)}')
print(f'Type of the table: {type(df)}')
print(f'Head of the table: \n{clinic_north.head()}')

Type of a column: <class 'pandas.core.series.Series'>
Type of the table: <class 'pandas.core.frame.DataFrame'>
Head of the table:
0    100
1     45
2     96
3     80
4     54
Name: clinic_north, dtype: int64

## Selecting Multiple Columns

To select two or more columns from a DataFrame, we use a list of the column names. 
**Note:** Make sure that you have a double set of brackets (`[[]]`), or this command won’t work!

In [6]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

clinic_north_south = df[['clinic_north', 'clinic_south']]
print(type(clinic_north_south))
print(clinic_north_south.head())

<class 'pandas.core.frame.DataFrame'>
   clinic_north  clinic_south
0           100            23
1            45           145
2            96            65
3            80            54
4            54            54

## Select Rows

- DataFrames are zero-indexed, meaning that we start with the 0th row and count up from there.
- We select a row using '.iloc'
- When we select a single row, the result is a Series (just like when we select a single column).

In [7]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

march = df.iloc[2]
print(df.head())
print('\n')
print(march.head())

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
3     April           80            80            54          180
4       May           51            54            54          154


month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object

## Selecting Multiple Rows

You can also select multiple rows from a DataFrame.

In [8]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

april_may_june = df.iloc[3:6]
print(df)
print('\n')
print(april_may_june)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
3     April           80            80            54          180
4       May           51            54            54          154
5      June          112           109            79          129


   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

## Select Rows with Logic

- You can select a subset of a DataFrame by using logical statements.
- In Python, `==` is how we test if a value is exactly equal to another value.

We can use other logical statements, such as:

- Greater Than, `>` 
- Less Than, `<` 
- Not Equal, `!=`

In [9]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])
print('DataFrame: \n')
print(df)
january = df[df.month == 'January']
print('\nFilter:\n')
print(january)

DataFrame:

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
3     April           80            80            54          180
4       May           51            54            54          154
5      June          112           109            79          129

Filter:

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100

- You can also combine multiple logical statements, as long as each statement is in parentheses.
- In Python, `|` means “or” and `&` means “and”.

In [10]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

march_april = df[(df.month == 'January') | (df.month == 'March')]

print(march_april)

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100
2    March           81            96            65           96

We could use the `isin` command to check that `df.name` is one of a list of values:

In [11]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

january_march_may = df[df.month.isin(['January', 'March', 'May'])]
print(january_march_may)

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100
2    March           81            96            65           96
4      May           51            54            54          154

## Setting indices

- When we select a subset of a DataFrame using logic, we end up with non-consecutive indices. This is inelegant and makes it hard to use `.iloc()`.
- We can fix this using the method `.reset_index()`. 
- If we use the command `df.reset_index()`, we get a new DataFrame with a new set of indices.
- The old indices move into a new column `'index'`. Unless you need those values for something special, it’s probably better to use the keyword `drop=True` so that you don’t end up with that extra column. 
- We usually just want to modify our existing DataFrame. If we use the keyword `inplace=True` we can just modify our existing DataFrame.

In [12]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

df2 = df.iloc[[1, 3, 5]]
print('\nOriginal df2: ')
print(df2)
df2.reset_index(inplace=True, drop=True)
print('\nReset df2 index: ')
print(df2)

Original df2:
      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129

Reset df2 index:
      month  clinic_east  clinic_north  clinic_south  clinic_west
0  February           51            45           145           45
1     April           80            80            54          180
2      June          112           109            79          129

## Adding a Column

Sometimes, we want to add a column to an existing DataFrame. We might want to add new information or perform a calculation based on the data that we already have.

One way that we can add a new column is by giving a list of the same length as the existing DataFrame.

In [13]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

print(f'Original DF:\n {df}')
df['Sold in Bulk?'] = ['Yes', 'Yes', 'No', 'No']
print(f'\nDF after adding column:\n {df}')

Original DF:
    Product ID   Description  Cost to Manufacture  Price
0           1  3 inch screw                  0.5   0.75
1           2   2 inch nail                  0.1   0.25
2           3        hammer                  3.0   5.50
3           4   screwdriver                  2.5   3.00

DF after adding column:
    Product ID   Description  Cost to Manufacture  Price Sold in Bulk?
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

We can also add a new column that is the same for all rows in the DataFrame.

In [14]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

df['Is taxed?'] = 'Yes'
print(df)

   Product ID   Description  Cost to Manufacture  Price Is taxed?
0           1  3 inch screw                  0.5   0.75       Yes
1           2   2 inch nail                  0.1   0.25       Yes
2           3        hammer                  3.0   5.50       Yes
3           4   screwdriver                  2.5   3.00       Yes

You can add a new column by performing a function on the existing columns.

In [15]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

df['Margin'] = df.Price - df['Cost to Manufacture']
print(df)

   Product ID   Description  Cost to Manufacture  Price  Margin
0           1  3 inch screw                  0.5   0.75    0.25
1           2   2 inch nail                  0.1   0.25    0.15
2           3        hammer                  3.0   5.50    2.50
3           4   screwdriver                  2.5   3.00    0.50

## Column Operations

Often, the column that we want to add is related to existing columns, but requires a calculation more complex than multiplication or addition.

We can use the `apply` function to apply a function to every value in a particular column.

In [16]:
df = pd.DataFrame([
  ['JOHN SMITH', 'john.smith@gmail.com'],
  ['Jane Doe', 'jdoe@yahoo.com'],
  ['joe schmo', 'joeschmo@hotmail.com']
],
columns=['Name', 'Email'])

df['Lowercase Name'] = df.Name.apply(str.lower)
print(df)

         Name                 Email Lowercase Name
0  JOHN SMITH  john.smith@gmail.com     john smith
1    Jane Doe        jdoe@yahoo.com       jane doe
2   joe schmo  joeschmo@hotmail.com      joe schmo

## Lambda Function

A _lambda function_ is a way of defining a function in a single line of code. Usually, we would assign them to a variable.

For example, the following lambda function multiplies a number by 2 and then adds 3:

```python
mylambda = lambda x: (x * 2) + 3
print(mylambda(5))
```

The output:

```
13
```

Let’s break this syntax down:

1. The function is stored in a variable called `mylambda`
2. `lambda` declares that this is a lambda function (if you are familiar with normal Python functions, this is similar to how we use def to declare a function)
3. `x` is what we call the input we are passing into `mylambda`
4. We are returning `(x * 2) + 3` (with normal Python functions, we use the keyword return)

Lambda functions only work if we’re just doing a one line command. If we wanted to write something longer, we’d need a more complex function. Lambda functions are great when you need to use a function once. Because you aren’t defining a function, the reusability aspect functions is not present with lambda functions. By saving the work of defining a function, a lambda function allows us to efficiently run an expression and produce an output for a specific task, such as defining a column in a table, or populating information in a dictionary.

Lambda functions work with all types of variables, not just integers! Here is an example that takes in a string, assigns it to the temporary variable x, and then converts it into lowercase:

```python
stringlambda = lambda x: x.lower()
print(stringlambda("Oh Hi Mark!"))
```

The output:

```
"oh hi mark!"
```

We can make our lambdas more complex by using a modified form of an if statement.

Suppose we want to pay workers time-and-a-half for overtime (any work above 40 hours per week). The following function will convert the number of hours into time-and-a-half hours using an if statement:

```python
def myfunction(x):
    if x > 40:
        return 40 + (x - 40) * 1.50
    else:
        return x
```

Below is a lambda function that does the same thing:

```python
myfunction = lambda x: 40 + (x - 40) * 1.50 if x > 40 else x
```

In general, the syntax for an if function in a lambda function is:

```
lambda x: [OUTCOME IF TRUE] if [CONDITIONAL] else [OUTCOME IF FALSE]
```

In [17]:
mylambda = lambda my_str: my_str[0] + my_str[-1]
print(mylambda('This is great!'))

T!

In [18]:
mylambda = lambda age: 'Welcome to BattleCity!' if age >= 13 else 'You must be over 13'
print(mylambda(25))
print(mylambda(12))

Welcome to BattleCity!
You must be over 13

## Applying a Lambda to a Column

In Pandas, we often use lambda functions to perform complex operations on columns.

In [19]:
df = pd.read_csv('employees.csv')

get_last_name = lambda full_name: full_name.split()[1]
df['last_name'] = df.name.apply(get_last_name)
print(df)

       id               name  hourly_wage  hours_worked  last_name
0   10310      Lauren Durham           19            43     Durham
1   18656      Grace Sellers           17            40    Sellers
2   61254  Shirley Rasmussen           16            30  Rasmussen
3   16886        Brian Rojas           18            47      Rojas
4   89010    Samantha Mosley           11            38     Mosley
5   87246       Louis Guzman           14            39     Guzman
6   20578     Denise Mcclure           15            40    Mcclure
7   12869      James Raymond           15            32    Raymond
8   53461       Noah Collier           18            35    Collier
9   14746    Donna Frederick           20            41  Frederick
10  71127       Shirley Beck           14            32       Beck
11  92522    Christina Kelly            8            44      Kelly
12  22447        Brian Noble           11            39      Noble
13  61654          Randy Key           16            38        Key
14  16988      Diana Stewart           14            48    Stewart
15  68619       Timothy Sosa           14            42       Sosa
16  59949      Betty Skinner           11            48    Skinner
17  81418      Janet Maxwell           12            38    Maxwell
18  27267   Madison Johnston           20            37   Johnston
19  19985   Virginia Nichols           13            49    Nichols

## Applying a Lambda to a Row

We can also operate on multiple columns at once. If we use `apply` without specifying a single column and add the argument `axis=1`, the input to our lambda function will be an entire row, not a column. To access particular values of the row, we use the syntax `row.column_name` or `row[‘column_name’]`.

In [20]:
df = pd.read_csv('employees.csv')

total_earned = lambda row: (row.hourly_wage * 40) + ((row.hourly_wage * 1.5) * (row.hours_worked - 40)) if row.hours_worked > 40 \
  else row.hourly_wage * row.hours_worked

df['total_earned'] = df.apply(total_earned, axis=1)
print(df.head())

      id               name  hourly_wage  hours_worked  total_earned
0  10310      Lauren Durham           19            43         845.5
1  18656      Grace Sellers           17            40         680.0
2  61254  Shirley Rasmussen           16            30         480.0
3  16886        Brian Rojas           18            47         909.0
4  89010    Samantha Mosley           11            38         418.0

## Renaming Columns

When we get our data from other sources, we often want to change the column names. For example, we might want all of the column names to follow variable name rules, so that we can use `df.column_name` (which tab-completes) rather than `df['column_name']` (which takes up extra space).

You can change all of the column names at once by setting the `.columns` property to a different list. This is great when you need to change all of the column names at once, but be careful! You can easily mislabel columns if you get the ordering wrong. Here’s an example:

```python
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})
df.columns = ['First Name', 'Age']

```

This command edits the **existing** DataFrame `df`.

In [21]:
df = pd.read_csv('imdb.csv')

df.columns = ['ID', 'Title', 'Category', 'Year Released', 'Rating']
print(df.head())

   ID                                      Title Category  Year Released  \
0   1                                     Avatar   action           2009
1   2                             Jurassic World   action           2015
2   3                               The Avengers   action           2012
3   4                            The Dark Knight   action           2008
4   5  Star Wars: Episode I - The Phantom Menace   action           1999

   Rating
0     7.9
1     7.3
2     8.1
3     9.0
4     6.6

- You also can rename individual columns by using the `.rename` method.
- Pass a dictionary to the `columns` keyword argument.
- Using `rename` with only the `columns` keyword will create a **new** DataFrame, leaving your original DataFrame unchanged.
- Using `inplace=True` lets us edit the original DataFrame.

There are several reasons why `.rename` is preferable to `.columns`:

- You can rename just one column
- You can be specific about which column names are getting changed (with `.column` you can accidentally switch column names if you’re not careful)

**Note:** If you misspell one of the original column names, this command won’t fail. It just won’t change anything.

In [22]:
df = pd.read_csv('imdb.csv')
df.rename(columns={'name': 'movie_title'}, inplace=True)
print(df.head())

   id                                movie_title   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6

In [23]:
my_cols = df.columns
for i in range(len(my_cols)):
    print(f'Column Number {i}: {my_cols[i]}')

Column Number 0: id
Column Number 1: movie_title
Column Number 2: genre
Column Number 3: year
Column Number 4: imdb_rating

# Aggregates in Pandas

An aggregate statistic is a way of creating a single number that describes a group of numbers. Common aggregate statistics include mean, median, and standard deviation.

## Calculating Column Statistics

Aggregate functions summarize many data points (i.e., a column of a dataframe) into a smaller set of values.

The general syntax for these calculations is:

```
df.column_name.command()
```
Some common commands:

- `mean` - Average of all values in column
- `std` -	Standard deviation
- `median` - Median
- `max` - Maximum value in column
- `min` - Minimum value in column
- `count` - Number of values in column
- `nunique` - Number of unique values in column
- `unique` - List of unique values in column

In [24]:
import pandas as pd

orders = pd.read_csv('orders_shoes.csv')
most_expensive = orders.price.max()
num_colors = orders.shoe_color.nunique()
print(orders.info())
print(f'Price of the most expensive pair of shoes: ${most_expensive}')
print(f'Number of unique colors: {num_colors}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99 non-null     int64
 1   first_name     99 non-null     object
 2   last_name      99 non-null     object
 3   email          99 non-null     object
 4   shoe_type      99 non-null     object
 5   shoe_material  99 non-null     object
 6   shoe_color     99 non-null     object
 7   price          98 non-null     float64
dtypes: float64(1), int64(1), object(6)
memory usage: 6.3+ KB
None
Price of the most expensive pair of shoes: $493.0
Number of unique colors: 5

## Calculating Aggregate Functions

When we have a bunch of data, we often want to calculate aggregate statistics (mean, standard deviation, median, percentiles, etc.) over certain subsets of the data.

Suppose we have a grade book with columns `student`, `assignment_name`, and `grade`. The first few lines look like this:

```
student	assignment_name	grade
Amy	Assignment 1	75
Amy	Assignment 2	35
Bob	Assignment 1	99
Bob	Assignment 2	35
…		
```
We want to get an average grade for each student across all assignments. We could do some sort of loop, but Pandas gives us a much easier option: the method `.groupby`.

For this example, we’d use the following command:

```python
grades = df.groupby('student').grade.mean()
```

The output might look something like this:

```
student	grade
Amy	80
Bob	90
Chris	75
…
```

In general, we use the following syntax to calculate aggregates:

```python
df.groupby('column1').column2.measurement()
```

where:

- `column1` is the column that we want to group by (`'student'` in our example)
- `column2` is the column that we want to perform a measurement on (`grade` in our example)
- `measurement` is the measurement function we want to apply (`mean` in our example)


For more on the groupby method, review the <a href='https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby' target='_blank'>pandas documentation</a>.

In [25]:
pricey_shoes = orders.groupby('shoe_type').price.max()
print('Original Data:\n')
print(orders)
print('\nPricey Shoes:\n')
print(pricey_shoes)
print(type(pricey_shoes))

Original Data:

       id first_name    last_name                      email     shoe_type  \
0   41874       Kyle         Peck       KylePeck71@gmail.com  ballet flats
1   31349  Elizabeth    Velazquez   EVelazquez1971@gmail.com         boots
2   43416      Keith     Saunders           KS4047@gmail.com       sandals
3   56054       Ryan      Sweeney  RyanSweeney14@outlook.com       sandals
4   77402      Donna  Blankenship           DB3807@gmail.com     stilettos
..    ...        ...          ...                        ...           ...
94  21506      Scott       Deleon     Scott.Deleon@gmail.com     stilettos
95  77266    Zachary      Gregory  Zachary.Gregory@gmail.com       sandals
96  67264   Danielle      Merrill     DMerrill1998@gmail.com        wedges
97  19100   Danielle       Barron      DBarron1982@gmail.com       sandals
98  26210    Marilyn        Finch   MarilynFinch92@gmail.com       sandals

   shoe_material shoe_color  price
0   faux-leather      black  385.0
1         fabric      brown  388.0
2        leather       navy  346.0
3         fabric      brown  344.0
4         fabric      brown  289.0
..           ...        ...    ...
94        fabric      black  374.0
95       leather        red  216.0
96  faux-leather        red  461.0
97       leather      white  313.0
98       leather      black    NaN

[99 rows x 8 columns]

Pricey Shoes:

shoe_type
ballet flats    481.0
boots           478.0
clogs           493.0
sandals         456.0
stilettos       487.0
wedges          461.0
Name: price, dtype: float64
<class 'pandas.core.series.Series'>

After using groupby, we often need to clean our resulting data.
The `groupby` function creates a new Series, not a DataFrame. For our ShoeFly.com example, the indices of the Series were different values of `shoe_type`, and the name property was `price`.

Usually, we’d prefer that those indices were actually a column. In order to get that, we can use `reset_index()`. This will transform our Series into a DataFrame and move the indices into their own column.

Generally, you’ll always see a `groupby` statement followed by `reset_index`:

```python
df.groupby('column1').column2.measurement().reset_index()
```

When we use groupby, we often want to rename the column we get as a result. Remember that we can rename columns.

In [26]:
pricey_shoes = orders.groupby('shoe_type').price.max().reset_index()
print(pricey_shoes)
print(type(pricey_shoes))

pricey_shoes = pricey_shoes.rename(columns={'price':'max price'})
print(pricey_shoes)

      shoe_type  price
0  ballet flats  481.0
1         boots  478.0
2         clogs  493.0
3       sandals  456.0
4     stilettos  487.0
5        wedges  461.0
<class 'pandas.core.frame.DataFrame'>
      shoe_type  max price
0  ballet flats      481.0
1         boots      478.0
2         clogs      493.0
3       sandals      456.0
4     stilettos      487.0
5        wedges      461.0

Sometimes, the operation that you want to perform is more complicated than `mean` or `count`. In those cases, you can use the `apply` method and lambda functions, just like we did for individual column operations. Note that the input to our lambda function will always be a list of values.

A great example of this is calculating percentiles. Suppose we have a DataFrame of employee information called `df` that has the following columns:

- `id`: the employee’s id number
- `name`: the employee’s name
- `wage`: the employee’s hourly wage
- `category`: the type of work that the employee does

Our data might look something like this:

```
id	    name        	wage   	category
10131	Sarah Carney	39	    product
14189	Heather Carey	17	    design
15004	Gary Mercado	33	    marketing
11204	Cora Copaz	    27	    design
…			

```
If we want to calculate the 75th percentile (i.e., the point at which 75% of employees have a lower wage and 25% have a higher wage) for each `category`, we can use the following combination of `apply` and a lambda function:

```python
# np.percentile can calculate any percentile over an array of values
high_earners = df.groupby('category').wage.apply(lambda x: np.percentile(x, 75)).reset_index()
```

The output, high_earners might look like this:

```
    category    wage
0	design	    23
1	marketing	35
2	product	    48
…		

```

In [27]:
import numpy as np
cheap_shoes = orders.groupby('shoe_color').price.apply(lambda x: np.percentile(x, 25)).reset_index()

print(cheap_shoes)

  shoe_color  price
0      black    NaN
1      brown  193.5
2       navy  205.5
3        red  250.0
4      white  196.0

Sometimes, we want to group by more than one column. We can easily do this by passing a list of column names into the `groupby` method.

In [28]:
shoe_counts = orders.groupby(['shoe_type', 'shoe_color']).id.count().reset_index()

shoe_counts = shoe_counts.rename(columns={'id': 'quantity'})

print(shoe_counts)

       shoe_type shoe_color  quantity
0   ballet flats      black         2
1   ballet flats      brown         5
2   ballet flats        red         3
3   ballet flats      white         5
4          boots      black         3
5          boots      brown         5
6          boots       navy         6
7          boots        red         2
8          boots      white         3
9          clogs      black         4
10         clogs      brown         6
11         clogs       navy         1
12         clogs        red         4
13         clogs      white         1
14       sandals      black         1
15       sandals      brown         4
16       sandals       navy         5
17       sandals        red         3
18       sandals      white         4
19     stilettos      black         5
20     stilettos      brown         3
21     stilettos       navy         2
22     stilettos        red         2
23     stilettos      white         2
24        wedges      black         3
25        wedges      brown         4
26        wedges       navy         4
27        wedges        red         5
28        wedges      white         2

## Pivot Tables

When we perform a `groupby` across multiple columns, we often want to change how our data is stored. For instance, recall the example where we are running a chain of stores and have data about the number of sales at different locations on different days:

```
Location	Date	Day of Week	Total Sales
West Village	February 1	W	400
West Village	February 2	Th	450
Chelsea	February 1	W	375
Chelsea	February 2	Th	390

```
We suspected that there might be different sales on different days of the week at different stores, so we performed a groupby across two different columns (Location and Day of Week). This gave us results that looked like this:		
```

Location	Day of Week	Total Sales
Chelsea	M	300
Chelsea	Tu	310
Chelsea	W	320
Chelsea	Th	290
…		
West Village	Th	400
West Village	F	390
West Village	Sa	250
…		

```

In order to test our hypothesis, it would be more useful if the table was formatted like this:		
```
Location	    M	Tu	W	Th	F	Sa	Su
Chelsea	        400	390	250	275	300	150	175
West Village	300	310	350	400	390	250	200
…							

```

Reorganizing a table in this way is called **pivoting**. The new table is called a **pivot table**.

In Pandas, the command for pivot is:

```python
df.pivot(columns='ColumnToPivot',
         index='ColumnToBeRows',
         values='ColumnToBeValues')

```

For our specific example, we would write the command like this:

```python
# First use the groupby statement:
unpivoted = df.groupby(['Location', 'Day of Week'])['Total Sales'].mean().reset_index()
# Now pivot the table
pivoted = unpivoted.pivot(
    columns='Day of Week',
    index='Location',
    values='Total Sales')

```

Just like with `groupby`, the output of a pivot command is a new DataFrame, but the indexing tends to be “weird”, so we usually follow up with `.reset_index()`.

For more on the pivot function, <a href='https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html' target='_blank'>see the pandas documentation</a>.

In [29]:
df = pd.DataFrame({'product':['Brownies', 'Cupcakes', 'Cupcakes', 'Cupcakes', 'Brownies', 'Brownies', 'Galletas', 'Galletas', 'Cupcakes', 'Galletas', 'Cupcakes', 'Brownies', 'Cupcakes', 'Brownies', 'Cupcakes'],
                   'local':  ['Norte', 'Sur', 'Sur', 'Sur', 'Sur', 'Sur', 'Norte', 'Norte', 'Sur', 'Sur', 'Norte', 'Norte', 'Sur', 'Norte', 'Norte'],
                   'Q': [1, 3, 4, 6, 7, 9, 3, 5, 10, 15, 4, 1, 3, 12, 5]})

In [30]:
df

     product  local   Q
0   Brownies  Norte   1
1   Cupcakes    Sur   3
2   Cupcakes    Sur   4
3   Cupcakes    Sur   6
4   Brownies    Sur   7
5   Brownies    Sur   9
6   Galletas  Norte   3
7   Galletas  Norte   5
8   Cupcakes    Sur  10
9   Galletas    Sur  15
10  Cupcakes  Norte   4
11  Brownies  Norte   1
12  Cupcakes    Sur   3
13  Brownies  Norte  12
14  Cupcakes  Norte   5

In [31]:
unpivot = df.groupby(['product', 'local']).Q.sum().reset_index()

In [32]:
unpivot

    product  local   Q
0  Brownies  Norte  14
1  Brownies    Sur  16
2  Cupcakes  Norte   9
3  Cupcakes    Sur  26
4  Galletas  Norte   8
5  Galletas    Sur  15

In [33]:
my_pivot = unpivot.pivot(columns='local', index='product', values='Q')

In [34]:
my_pivot

local     Norte  Sur
product
Brownies     14   16
Cupcakes      9   26
Galletas      8   15

In [35]:
norte = df[df.local == 'Norte'].Q.sum()
sur = df[df.local == 'Sur'].Q.sum()

In [36]:
norte

31

In [37]:
sur

57

In [38]:
shoe_counts = orders.groupby(['shoe_type', 'shoe_color']).id.count().reset_index()

shoe_counts_pivot = shoe_counts.pivot(columns='shoe_color', index='shoe_type', values='id').reset_index()

print(shoe_counts_pivot)

shoe_color     shoe_type  black  brown  navy  red  white
0           ballet flats    2.0    5.0   NaN  3.0    5.0
1                  boots    3.0    5.0   6.0  2.0    3.0
2                  clogs    4.0    6.0   1.0  4.0    1.0
3                sandals    1.0    4.0   5.0  3.0    4.0
4              stilettos    5.0    3.0   2.0  2.0    2.0
5                 wedges    3.0    4.0   4.0  5.0    2.0

In [39]:
user_visits = pd.read_csv('page_visits.csv')

print(f'User Visits: \n{user_visits.head()}\n')

click_source = user_visits.groupby('utm_source').id.count().reset_index()
click_source.rename(columns={'id':'counts'}, inplace=True)

print(f'Click source: \n{click_source}\n')

click_source_by_month = user_visits.groupby(['utm_source', 'month']).id.count().reset_index()

click_source_by_month_pivot = click_source_by_month.pivot(columns='month', index='utm_source', values='id').reset_index()

print(f'Click source by month: \n{click_source_by_month_pivot}')

User Visits:
      id first_name last_name                       email         month  \
0  10043      Louis      Koch       LouisKoch43@gmail.com     3 - March
1  10150      Bruce      Webb     BruceWebb44@outlook.com     3 - March
2  10155   Nicholas   Hoffman  Nicholas.Hoffman@gmail.com  2 - February
3  10178    William       Key     William.Key@outlook.com     3 - March
4  10208      Karen      Bass            KB4971@gmail.com  2 - February

  utm_source
0      yahoo
1    twitter
2     google
3      yahoo
4     google

Click source:
  utm_source  counts
0      email     462
1   facebook     823
2     google     543
3    twitter     415
4      yahoo     757

Click source by month:
month utm_source  1 - January  2 - February  3 - March
0          email           43           147        272
1       facebook          404           263        156
2         google          127           196        220
3        twitter          164           154         97
4          yahoo          262           240        255

# Working with Multiple DataFrames

In order to efficiently store data, we often spread related information across multiple tables.

For instance, imagine that we own an e-commerce business and we want to track the products that have been ordered from our website.

We could have one table with all of the following information:

- `order_id`
- `customer_id`
- `customer_name`
- `customer_address`
- `customer_phone_number`
- `product_id`
- `product_description`
- `product_price`
- `quantity`
- `timestamp`

However, a lot of this information would be repeated. If the same customer makes multiple orders, that customer’s name, address, and phone number will be reported multiple times. If the same product is ordered by multiple customers, then the product price and description will be repeated. This will make our orders table big and unmanageable.

So instead, we can split our data into three tables:

- `orders` would contain the information necessary to describe an order: `order_id`, `customer_id`, `product_id`, `quantity`, and `timestamp`
- `products` would contain the information to describe each product: `product_id`, `product_description` and `product_price`
- `customers` would contain the information for each customer: `customer_id`, `customer_name`, `customer_address`, and `customer_phone_number`

In [40]:
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')
customers = pd.read_csv('customers.csv')

print(f'\n{orders.info()}\n')
print(f'\n{products.info()}\n')
print(f'\n{customers.info()}\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     8 non-null      int64
 1   customer_id  8 non-null      int64
 2   product_id   8 non-null      int64
 3   quantity     8 non-null      int64
 4   timestamp    8 non-null      object
dtypes: int64(4), object(1)
memory usage: 448.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product_id   4 non-null      int64
 1   description  4 non-null      object
 2   price        4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    3 non-null      int64
 1   customer_name  3 non-null      object
 2   address        3 non-null      object
 3   phone_number   3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

None

## Inner Merge

Suppose we have the following three tables that describe our eCommerce business:

- `orders` — a table with information on each transaction
- `products` — a table with product IDs, descriptions, and prices
- `customers` — a table with customer names and contact information

If we just look at the orders table, we can’t really tell what’s happened in each order. However, if we refer to the other tables, we can get a more complete picture.

Matching two DataFrames is called **merging**.

The `.merge()` method looks for columns that are common between two DataFrames and then looks for rows where those column’s values are the same. It then combines the matching rows into a single row in a new table.

We can call the `pd.merge()` method with two tables like this:

```python
new_df = pd.merge(orders, customers)
```

This will match up all of the customer information to the orders that each customer made.

In [41]:
sales = pd.read_csv('sales.csv')
print('Sales:')
print(sales)
targets = pd.read_csv('targets.csv')
print('Targets:')
print(targets)

sales_vs_targets = pd.merge(sales, targets)
print('Sales vs Targets:')
print(sales_vs_targets)

crushing_it = sales_vs_targets[sales_vs_targets.revenue > sales_vs_targets.target]
print('Crushing Months:')
print(crushing_it)

Sales:
      month  revenue
0   January      300
1  February      290
2     March      310
3     April      325
4       May      475
5      June      495
Targets:
      month  target
0   January     310
1  February     270
2     March     300
3     April     350
4       May     475
5      June     500
Sales vs Targets:
      month  revenue  target
0   January      300     310
1  February      290     270
2     March      310     300
3     April      325     350
4       May      475     475
5      June      495     500
Crushing Months:
      month  revenue  target
1  February      290     270
2     March      310     300

In [42]:
students = pd.DataFrame({
  'Student ID': [1, 2, 3, 4, 5],
  'Student Name': ['Alex', 'Brayan', 'Stephanie', 'Néstor', 'Jorge'],
  'Color': ['blue', 'green', 'yellow', 'red', 'black']
})

grades = pd.DataFrame({
  'Activity': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3],
  'Student ID': [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
  'Grade': [3.9, 2.5, 4.5, 2.4, 3.7, 1.4, 4.5, 2.4, 3.4, 1.2, 3.4, 3.3, 4.2, 3.8, 2.3]
})

print('Estudiantes: \n')
print(students)
print('\nNotas: \n')
print(grades)

Estudiantes:

   Student ID Student Name   Color
0           1         Alex    blue
1           2       Brayan   green
2           3    Stephanie  yellow
3           4       Néstor     red
4           5        Jorge   black

Notas:

    Activity  Student ID  Grade
0          1           1    3.9
1          1           2    2.5
2          1           3    4.5
3          1           4    2.4
4          1           5    3.7
5          2           1    1.4
6          2           2    4.5
7          2           3    2.4
8          2           4    3.4
9          2           5    1.2
10         3           1    3.4
11         3           2    3.3
12         3           3    4.2
13         3           4    3.8
14         3           5    2.3

In [43]:
new_df = pd.merge(grades, students)

In [44]:
new_df

    Activity  Student ID  Grade Student Name   Color
0          1           1    3.9         Alex    blue
1          2           1    1.4         Alex    blue
2          3           1    3.4         Alex    blue
3          1           2    2.5       Brayan   green
4          2           2    4.5       Brayan   green
5          3           2    3.3       Brayan   green
6          1           3    4.5    Stephanie  yellow
7          2           3    2.4    Stephanie  yellow
8          3           3    4.2    Stephanie  yellow
9          1           4    2.4       Néstor     red
10         2           4    3.4       Néstor     red
11         3           4    3.8       Néstor     red
12         1           5    3.7        Jorge   black
13         2           5    1.2        Jorge   black
14         3           5    2.3        Jorge   black

In [45]:
grades_means = new_df.groupby(['Student Name']).Grade.mean().reset_index()

In [46]:
grades_means

  Student Name     Grade
0         Alex  2.900000
1       Brayan  3.433333
2        Jorge  2.400000
3       Néstor  3.200000
4    Stephanie  3.700000

In addition to using `pd.merge()`, each DataFrame has its own `.merge()` method. For instance, if you wanted to merge `orders` with `customers`, you could use:

```python
new_df = orders.merge(customers)
```

This produces the same DataFrame as if we had called `pd.merge(orders, customers)`.

We generally use this when we are joining more than two DataFrames together because we can “chain” the commands. The following command would merge orders to customers, and then the resulting DataFrame to products:

```python
big_df = orders.merge(customers).merge(products)
```

In [47]:
men_women = pd.read_csv('men_women_sales.csv')

all_data = sales.merge(targets).merge(men_women)

print(all_data)

results = all_data[(all_data.revenue > all_data.target) & (all_data.women > all_data.men)]

print(results)

      month  revenue  target  men  women
0   January      300     310   30     35
1  February      290     270   29     35
2     March      310     300   31     29
3     April      325     350   32     28
4       May      475     475   47     50
5      June      495     500   49     45
      month  revenue  target  men  women
1  February      290     270   29     35

## Merge on Specific Columns

In the previous example, the `.merge()` function “knew” how to combine tables based on the columns that were the same between two tables. For instance, `products` and `orders` both had a column called product_id. This won’t always be true when we want to perform a merge.

Generally, the `products` and `customers` DataFrames would not have the columns `product_id` or `customer_id`. Instead, they would both be called `id` and it would be implied that the id was the `product_id` for the products table and `customer_id` for the `customers` table. 

### How would this affect our merges?

Because the `id` columns would mean something different in each table, our default merges would be wrong.

One way that we could address this problem is to use `.rename()` to rename the columns for our merges. In the example below, we will rename the column `id` to `customer_id`, so that `orders` and `customers` have a common column for the merge.


```
pd.merge(orders, customers.rename(columns={'id': 'customer_id'}))
```

In [48]:
orders_products = orders.merge(products.rename(columns={'id': 'product_id'}))

print(orders_products)

   order_id  customer_id  product_id  quantity   timestamp  \
0         1            2           3         1  2017-01-01
1         5            3           3         3  2017-02-01
2         2            2           2         3  2017-01-01
3         4            3           2         2  2017-02-01
4         3            3           1         1  2017-01-01
5         7            1           1         1  2017-02-02
6         6            1           4         2  2017-03-01
7         8            1           4         1  2017-02-02

          description  price
0          doo-hickey      7
1          doo-hickey      7
2  whatcha-ma-call-it     10
3  whatcha-ma-call-it     10
4      thing-a-ma-jig      5
5      thing-a-ma-jig      5
6               gizmo      3
7               gizmo      3

If we don’t want to rename, we have another option. We could use the keywords `left_on` and `right_on` to specify which columns we want to perform the merge on. In the example below, the “left” table is the one that comes first (`orders`), and the “right” table is the one that comes second (`customers`). This syntax says that we should match the `customer_id` from orders to the `id` in customers.

```python
pd.merge(
    orders,
    customers,
    left_on='customer_id',
    right_on='id')

```

If we use this syntax, we’ll end up with two columns called id, one from the first table and one from the second. Pandas won’t let you have two columns with the same name, so it will change them to id_x and id_y.

The new column names `id_x` and `id_y` aren’t very helpful for us when we read the table. We can help make them more useful by using the keyword suffixes. We can provide a list of suffixes to use instead of “_x” and “_y”.

For example, we could use the following code to make the suffixes reflect the table names:

```python
pd.merge(
    orders,
    customers,
    left_on='customer_id',
    right_on='id',
    suffixes=['_order', '_customer']
)
```

In [49]:
orders.rename(columns={'order_id':'id'}, inplace=True)
products.rename(columns={'product_id':'id'}, inplace=True)
orders_products = pd.merge(orders,
                           products,
                           left_on='product_id',
                           right_on='id',
                           suffixes=['_orders', '_products']
                          )
print('Orders:')
print(orders)
print('\nProducts:')
print(products)
print('\nOrders with Products:')
print(orders_products)

Orders:
   id  customer_id  product_id  quantity   timestamp
0   1            2           3         1  2017-01-01
1   2            2           2         3  2017-01-01
2   3            3           1         1  2017-01-01
3   4            3           2         2  2017-02-01
4   5            3           3         3  2017-02-01
5   6            1           4         2  2017-03-01
6   7            1           1         1  2017-02-02
7   8            1           4         1  2017-02-02

Products:
   id         description  price
0   1      thing-a-ma-jig      5
1   2  whatcha-ma-call-it     10
2   3          doo-hickey      7
3   4               gizmo      3

Orders with Products:
   id_orders  customer_id  product_id  quantity   timestamp  id_products  \
0          1            2           3         1  2017-01-01            3
1          5            3           3         3  2017-02-01            3
2          2            2           2         3  2017-01-01            2
3          4            3           2         2  2017-02-01            2
4          3            3           1         1  2017-01-01            1
5          7            1           1         1  2017-02-02            1
6          6            1           4         2  2017-03-01            4
7          8            1           4         1  2017-02-02            4

          description  price
0          doo-hickey      7
1          doo-hickey      7
2  whatcha-ma-call-it     10
3  whatcha-ma-call-it     10
4      thing-a-ma-jig      5
5      thing-a-ma-jig      5
6               gizmo      3
7               gizmo      3

## Outer Merge

When we merge two DataFrames whose rows don’t match perfectly, we lose the unmatched rows.

This type of merge (where we only include matching rows) is called an _inner merge_. There are other types of merges that we can use when we want to keep information from the unmatched rows.

Suppose that two companies, Company A and Company B have just merged. They each have a list of customers, but they keep slightly different data. Company A has each customer’s name and email. Company B has each customer’s name and phone number. They have some customers in common, but some are different.

If we wanted to combine the data from both companies without losing the customers who are missing from one of the tables, we could use an _Outer Join_. An _Outer Join_ would include all rows from both tables, even if they don’t match. Any missing values are filled in with None or nan (which stands for “Not a Number”).

```python
pd.merge(company_a, company_b, how='outer')
```

In [50]:
store_a = pd.read_csv('store_a.csv')
print('Store A: ')
print(store_a)

store_b = pd.read_csv('store_b.csv')
print('\nStore B: ')
print(store_b)

store_a_b_outer = pd.merge(store_a, store_b, how='outer')
print('\nStore A & B: ')
print(store_a_b_outer)

Store A:
          item  store_a_inventory
0       hammer                 12
1  screwdriver                 15
2        nails                200
3       screws                350
4          saw                  6
5    duct tape                150
6       wrench                 12
7     pvc pipe                 54

Store B:
            item  store_b_inventory
0         hammer                  6
1          nails                250
2            saw                  6
3      duct tape                150
4       pvc pipe                 54
5           rake                 10
6         shovel                 15
7  wooden dowels                192

Store A & B:
             item  store_a_inventory  store_b_inventory
0          hammer               12.0                6.0
1     screwdriver               15.0                NaN
2           nails              200.0              250.0
3          screws              350.0                NaN
4             saw                6.0                6.0
5       duct tape              150.0              150.0
6          wrench               12.0                NaN
7        pvc pipe               54.0               54.0
8            rake                NaN               10.0
9          shovel                NaN               15.0
10  wooden dowels                NaN              192.0

## Left and Right Merge

Let’s return to the merge of Company A and Company B. Suppose we want to identify which customers are missing phone information. We would want a list of all customers who have `email`, but don’t have `phone`.

### Left Merge

We could get this by performing a _Left Merge_. A _Left Merge_ includes all rows from the first (left) table, but only rows from the second (right) table that match the first table.

For this command, the order of the arguments matters. If the first DataFrame is `company_a` and we do a left join, we’ll only end up with rows that appear in company_a.

By listing `company_a` first, we get all customers from Company A, and only customers from Company B who are also customers of Company A.

```python
pd.merge(company_a, company_b, how='left')
```
Now let’s say we want a list of all customers who have `phone` but no `email`. We can do this by performing a Right Merge.

### Right Merge

Right merge is the exact opposite of left merge. Here, the merged table will include all rows from the second (right) table, but only rows from the first (left) table that match the second table.

By listing `company_a` first and `company_b` second, we get all customers from Company B, and only customers from Company A who are also customers of Company B.

```python
pd.merge(company_a, company_b, how="right")
```

In [51]:
store_a_b_left = pd.merge(store_a, store_b, how='left')

store_b_a_left = pd.merge(store_b, store_a, how='left')

print(store_a_b_left)
print(store_b_a_left)

          item  store_a_inventory  store_b_inventory
0       hammer                 12                6.0
1  screwdriver                 15                NaN
2        nails                200              250.0
3       screws                350                NaN
4          saw                  6                6.0
5    duct tape                150              150.0
6       wrench                 12                NaN
7     pvc pipe                 54               54.0
            item  store_b_inventory  store_a_inventory
0         hammer                  6               12.0
1          nails                250              200.0
2            saw                  6                6.0
3      duct tape                150              150.0
4       pvc pipe                 54               54.0
5           rake                 10                NaN
6         shovel                 15                NaN
7  wooden dowels                192                NaN

## Concatenate DataFrames

Sometimes, a dataset is broken into multiple tables. For instance, data is often split into multiple CSV files so that each download is smaller.

When we need to reconstruct a single DataFrame from multiple smaller DataFrames, we can use the method `pd.concat([df1, df2, df3, ...])`. This method only works if all of the columns are the same in all of the DataFrames.

In [52]:
bakery = pd.read_csv('bakery.csv')
print('Bakery: ')
print(bakery)
ice_cream = pd.read_csv('ice_cream.csv')
print('\nIce Cream: ')
print(ice_cream)

menu = pd.concat([bakery, ice_cream])
print('\nMenu: ')
print(menu)

Bakery:
                  item  price
0               cookie   2.50
1              brownie   3.50
2        slice of cake   4.75
3  slice of cheesecake   4.75
4         slice of pie   5.00

Ice Cream:
                              item  price
0     scoop of chocolate ice cream   3.00
1       scoop of vanilla ice cream   2.95
2    scoop of strawberry ice cream   3.05
3  scoop of cookie dough ice cream   3.25

Menu:
                              item  price
0                           cookie   2.50
1                          brownie   3.50
2                    slice of cake   4.75
3              slice of cheesecake   4.75
4                     slice of pie   5.00
0     scoop of chocolate ice cream   3.00
1       scoop of vanilla ice cream   2.95
2    scoop of strawberry ice cream   3.05
3  scoop of cookie dough ice cream   3.25